@{
Layout = null;
}
<!DOCTYPE html>
<html lang="en">

@Html.Action("PartialHead","Default") 
<body>

    <!-- ======= Top Bar ======= -->
    @Html.Action("PartialTop", "Default")

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-cente">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

            <h1 class="logo me-auto me-lg-0"><a href="index.html">Restaurantly</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            @Html.Action("PartialNavbar", "Default")

            <a href="#book-a-table" class="book-a-table-btn scrollto d-none d-lg-flex">Rezervasyon</a>

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    @Html.Action("PartialFeature", "Default")
    <main id="main">

        <!-- ======= About Section ======= -->
    @Html.Action("PartialAbout","Default")
        <!-- ======= Why Us Section ======= -->
    @Html.Action("PartialService","Default")    
    <!-- ======= Menu Section ======= -->
    @Html.Action("PartialMenu","Default")
        <!-- ======= Specials Section ======= -->
    @Html.Action("PartialSpecials","Default")
       
        <!-- ======= Events Section ======= -->
        @Html.Action("PartialEvent","Default")<!-- End Events Section -->
        <!-- ======= Book A Table Section ======= -->
        @Html.Action("PartialBookaTable","Default")
        <!-- ======= Testimonials Section ======= -->
        @Html.Action("PartialTestimonial","Default")
        <!-- ======= Gallery Section ======= -->
    @Html.Action("PartialGallery","Default")
        <!-- ======= Chefs Section ======= -->
        @Html.Action("PartialChefs","Default")
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>İletişim</h2>
                    <p>Bizimle İletişime Geçin</p>
                </div>
            </div>

            <div data-aos="fade-up">
                <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.1961385881255!2d28.794581776443586!3d40.99908001999064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa38e67deaf65%3A0x55c21cbc0fd733ae!2zU2VmYWvDtnk!5e0!3m2!1str!2str!4v1739992032413!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="container" data-aos="fade-up">

                <div class="row mt-5">

                    @Html.Action("PartialAdress","Default")

                        

                    
                    @if (ViewBag.Message != null) 
                    {
                        <script>alert('@ViewBag.Message')</script>
                    }

                  @Html.Action("PartialContact","Default")

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    @Html.Action("PartialFooter","Default")
    <!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Template/Restaurantly/assets/vendor/aos/aos.js"></script>
    <script src="~/Template/Restaurantly/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Template/Restaurantly/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Template/Restaurantly/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Template/Restaurantly/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Template/Restaurantly/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Template/Restaurantly/assets/js/main.js"></script>

</body>

</html>